* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Estiliza a barra de rolagem em navegadores baseados no Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: var(--black); /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Bordas arredondadas do polegar */
  border: 3px solid; /* Espaço ao redor do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}
